* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primary-color: #28587B;
    --secondary-color: #70CDFF;
    --accent-1: #23B5D3;
    --accent-2: #93827F;
}

header {
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: space-evenly;
}

.logo-box img {
    width: 200px;
    height: auto;
    padding: 10px;
    margin: 5px 10px 5px 50px;
    justify-content: center;
}

.logo img {
    margin: 0 5px 0 20px;
	width: 64px;
	height: auto;
}


nav {
    font-family: "Sniglet", sans-serif;
    padding: 10px;
    border: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


nav a:link,
nav a:visited {
  background-color: white;
  border: 5px solid var(--primary-color);
  border-radius: 0.5em;
  color: var(--primary-color);
  padding: 0.5em;
  text-decoration: none;
  display: block;
  font-size: 1.5rem;
}


.navigation a:hover {
	color: tomato;
}

h1, h2, h3, h4, h5, h6 {font-family: "Trade Winds", serif;}

h1 {
    text-align: center;
	font-size: 5rem;
	text-shadow: 3px 3px 5px white;
    justify-content: center;
    align-items: center;
}

h2 {
    display: block;
    text-align: center;
	font-size: 2.5rem;
	text-shadow: 3px 3px 5px var(--accent-1);
}

main img {
    width: 1000px;
    height: auto;
    border: 1px solid var(--primary-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--secondary-color);
    float: right;
}



p {
    padding: 0;
    font-family: "Sniglet", sans-serif;
    text-align: justify
}

.hero {
    margin: 10px;
	position: relative;
    display: grid;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 30px;
}

.hero h1 {
    position: absolute;
    top: 30px;
    left: 300px
}


.hero article {
    position: absolute;
    top: 450px;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: white;
    margin: 5px;
    padding: 40px;
    opacity: 75%;
}

.hero article img {
    float: right;
    width: 20%;
    height: auto;
    margin: 15px;
    padding: 5px;
   
}

section {
    font-family: "Sniglet", sans-serif;
}

.history {
    display: inline;
}


.his {
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
}

#first {
    grid-column: 1/2;
    margin: 40px;

}

#second {
    grid-column: 3/4;
    margin: 40px;
}

.his img {
    grid-column: 2/3;
    width: 300px;
    height: auto;
    margin: 20px;
}

.adventures {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: auto auto;
    justify-content: space-evenly;
}


.adventures h2 {
    grid-column: 1/6;
}

.adventures img {
    width: 200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.relaxing {
    height: auto;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.exciting {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center
}

.energizing {
    height: auto;
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center
}

.riveting {
    height: auto;
    grid-column: 4/5;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center
}

.thrilling {
    height: auto;
    grid-column: 5/6;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center
}



section h2 {
    margin: 20px;
    padding: 5px;
}


section img {
    width: 20%;
    height: auto;
}

section figure {
    width: 20%;
    height: auto;
    display: flex;
    justify-content: center;
}


figure img {
    grid-area: img;
}


.employees figcaption {
    width: 150px;
    text-align: center;
}

.contactpage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: auto auto auto auto;
    margin: 30px;
    padding: 10px;
}

.contactpage h1 {
    grid-column: 1/6;
    grid-row: 1/2;
    text-align: center;
	font-size: 5rem;
	text-shadow: 3px 3px 5px var(--accent-1);
    justify-content: center;
    align-items: center;
}

.contacts {
    grid-column: 1/4;
    grid-row: 2/3;
    display: grid;
    font-size: larger;
}

.contacts h2 {
    grid-column: 1/4;
    grid-row: 1/2;
}

.contacts i {
    grid-column: 1/2;
}

.contacts p {
    margin: 5px;
}

.map {
    grid-column: 1/4;
    justify-content: center;
    align-items: center;
}


.employees {
    grid-column: 1/6;
    grid-row: 3/5;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}

.employees h2 {
    grid-column: 1/4;
    grid-row: 1/2;
}

.employees img {
    width: 200px;
    height: auto;
    grid-row: 3/4;
}

.employees figure {
    display: flex;
    flex-direction: column;
}


.inquiry {
    grid-column: 4/6;
    grid-row: 2/3;
}

form {
    margin: auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0/0.1);
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    color: white;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 1px solid whitesmoke;
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    font-size: x-large;
}

label {
    text-align: left;
    padding-right: 1rem;
    font-size: larger;
}

input, textarea {
    padding: 0.5rem;
    font-size: larger;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    margin-left: 20px;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: white;
    color: black;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: larger;
}

button:hover {
    background-color: var(--secondary-color);
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 1fr 2fr;
}

.column2 {
    grid-template-columns: 1fr 7fr;
    margin: 0.5rem 0;
}

.column3 {
    grid-template-columns: 1fr 7fr;
}

.purpose-offerings, .trips {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    align-items: center;
    justify-items: center;
}

.purpose-offerings h2, .trips h2 {
    grid-column: 1/2;
}

.purpose-offerings p,
.trips p {
    grid-column: 2/3;
}

.purpose-offerings img,
.trips img {
    width: 250px;
    height: auto;
    margin: 30px;
    grid-column: 3/4;
}

.trips-newsletter {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto auto auto;
}

.trips-newsletter a {
    grid-column: 1/2;
    justify-self: center;
}
.trips-newsletter img {
    grid-column: 1/2;
    width: 200px;
    height: auto;
    justify-self: center;
    margin: 30px;
}

.trips-newsletter h2 {
    grid-row: 1/2;
    align-self: center;
}

.trips-newsletter form {
    grid-column: 2/3;
    grid-row: 2/4;
    margin: 30px;
}

.adventure-question {
    display: grid;
    grid-template-columns: 7fr 2fr;
    grid-template-rows: auto auto;
    text-align: center;
}

.trips h1 {
    text-shadow: 3px 3px 5px var(--accent-1);
    justify-content: center;
    align-items: center;
    grid-column: 1/4;
    margin: 30px;
}

.adventure-question h2 {
    grid-row: 1/2;
    align-self: center;
    margin-top: 80px;
}


table {
    border-collapse: collapse;
    border: 2px solid;
    letter-spacing: 1px;
    margin: 30px;
}

thead {
    background-color: var(--primary-color);
    color: white;
}

th, td {
    border: 1px solid;
    padding: 8px 10px;
}

tbody > tr:nth-of-type(even) {
    background-color: var(--accent-2);
    color: white;
}

.adventure-question a {
    font-size: x-large;
}

footer{
    font-size: larger;
    margin-top: 5px;
    border-top: 1px solid var(--accent-1);
    text-align: center;
    clear: both;
    text-decoration: none;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 7fr 3fr;
    justify-content: center;
    align-items: center;
}

footer img {
    display: inline;
    width: 30px;
    height: auto;
    margin: 0px;
}

footer p {
    margin-left: 30px;
}

.sociallinks a {
    text-decoration: none;
}


