nav {
    background-color: black;
    padding: 10px;
}


nav a {
    color: pink;
    display: block;
    padding: 20px;
}



h1 {
    color: pink;
}


main{
    width: auto;
    margin: auto;
    border: 1px solid whitesmoke;
    padding: 1rem;
    background-color: black;
    color: pink;
    text-align: center;
}


main img {
    width: 150px;
    height: auto;
    border: 1px solid white;
    padding: 2px;
    box-shadow: 0 0 30px whitesmoke;
}



p {
    padding: 0;
}


aside {
    width: auto;
    margin: auto;
    border: 1px solid whitesmoke;
    padding: 1em;
    background-color: black;
    color: pink;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
    border: 1px solid whitesmoke;
    padding: 2px;
    background-color: whitesmoke;
    box-shadow: 0 0 30px whitesmoke;
}

footer{
    margin-top: 1px;
    border-top: 5px solid pink;
    background-color: black;
    color: pink;
    text-align: center;
}